input[type="date"]::-webkit-input-placeholder {
    visibility: hidden !important;
}

input::-webkit-calendar-picker-indicator {
    display: none;
}

.bootstrap-select {
    display: none;
}

#ad_select_md {
    display: none;
}
