#calendar {
    float: left;
    margin: 0 auto;
    width: 80%;
    background-color: #FFFFFF;
    border-radius: 6px;
    box-shadow: 0 1px 2px #C3C3C3;
    -webkit-box-shadow: 0px 0px 21px 2px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0px 0px 21px 2px rgba(0, 0, 0, 0.18);
    box-shadow: 0px 0px 21px 2px rgba(0, 0, 0, 0.18);
}

.fc-myevent-approved {
    font-family: 'Roboto', sans-serif;
    background: #6699CC !important;
    font-size: 12px !important;
    font-weight: 500 !important;
    padding: 5px 0px !important;
}

.fc-myevent-pending {
    font-family: 'Roboto', sans-serif;
    background: #6699CC !important;
    opacity: 0.6;
    font-size: 12px !important;
    font-weight: 500 !important;
    padding: 5px 0px !important;
}

.fc-event-approved {
    font-family: 'Roboto', sans-serif;
    background: #9999FF !important;
    font-size: 12px !important;
    font-weight: 500 !important;
    padding: 5px 0px !important;
}

.fc-event-pending {
    font-family: 'Roboto', sans-serif;
    background: #9999FF !important;
    opacity: 0.6;
    font-size: 12px !important;
    font-weight: 500 !important;
    padding: 5px 0px !important;
}

.fc-event-supervisor-pending {
    font-family: 'Roboto', sans-serif;
    background: #9999FF !important;
    opacity: 0.6;
    font-size: 12px !important;
    font-weight: 500 !important;
    padding: 5px 0px !important;
}

.fc-newevent-pending {
    font-family: 'Roboto', sans-serif;
    background: #ff902b !important;
    opacity: 0.6;
    font-size: 12px !important;
    font-weight: 500 !important;
    padding: 5px 0px !important;
}

.fc-event-none {
    display: none;
}

.fc-event-block {
    display: block;
}

.fc-md-holiday {
    background-color: #1b69e5 !important;
}

.fc-ro-holiday {
    background-color: #5b97f7 !important;
}
