.sorting_asc {
    width: 50px !important;
}

#manager-table_filter {
    display: block !important;
}

#users-list-table tr td:nth-child(9) {
    white-space: nowrap;
    max-width: 10em;
    text-overflow: ellipsis;
    overflow: hidden;
}

.fa-user:before {
    content: "\f007";
    position: relative;
    left: 34px;
    bottom: -1px;
}

#users-list-table tr td:nth-child(3), tr td:nth-child(10), tr td:nth-child(11),
tr td:nth-child(12), tr td:nth-child(13), tr td:nth-child(14) {
    text-align: center;
}

tbody .fa-camera:before {
    left: 0px !important;
}

.dropdown-menu li:last-child:hover {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
    cursor: pointer;
}

.dropdown-menu li:last-child > label > i:hover {
    cursor: pointer;
}

.fa-camera:before {
    position: relative;
    bottom: -3px;
}

.fa-camera > img {
    width: 38px;
}

#avatarimg:before {
    bottom: -6px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

#dialog-comment {
    display: none;
}

#dialog-email .modal-content {
    width: 160% !important;
}

#dialog-email .modal-footer {
    padding: 3px 13px 3px 2px;
}

#dialog-email textarea {
    width: 100% !important;
    height: 5% !important;
}

textarea {
    width: 262px;
    height: 191px;
    resize: none;
    background-color: lightblue;
    padding: 7px;
    margin: auto;
}

td.day.disabled {
    color: red !important;
}

#first-container {
    position: relative;
    bottom: -43px;
    width: 80%;
}

#second-container {
    position: relative;
    bottom: -23px;
    width: 80%;
}

#details {
    float: right;
    margin-right: 15%;
}
#user-name-disp {
    width: auto;
    border: none;
    background-color: rgba(230, 231, 231, 0);
    display: inline-block;
}

#user-days-disp {
    width: auto;
    max-width:60px;
    border: none;
    background-color: rgba(230, 231, 231, 0);
    display: inline-block;
}

#avfree {
    display: none;
}

#fileupload {
    position: relative;
}

#containerNone {
    display: none;
}

#tabs {
    margin-left: 1px;
    margin-right: 0px;
}

.tab-content {
    margin-left: 5px;
    margin-right: 1px;
}

.active a {
    background-color: blue;
}


#avatar {
    margin: 6px;
    height: 38px;
    border-radius: 50%;
    object-fit: cover;
    width: 40px;
}

h3 {
    text-align: center;
}

.panel-body {
    text-align: left;
}

#info, #danger {
    display: none;
}

#stwork {
    clear: both;
}

.navbar-nav > li {
    line-height: inherit;
    margin-top: 5px;
    margin-left: 5px;
}

li {
    list-style-type: none;
}

.btn-success {
    background-color: #286090;
    border-color: #286090;
}

.col-xs-3, .col-xs-2 {
    margin-bottom: 5px;
    float: left;
}

.modal-body > div:first-child, .modal-body > div:nth-child(2), .modal-body > div:nth-child(3) {
    display: none;
}

@media (max-width: 1200px) {
    .panel-body > .form-group > div:nth-of-type(4), .panel-body > .form-group > div:nth-of-type(7) {
        clear: left;
    }

    .col-xs-3, .col-xs-2 {
        min-width: 32%;
    }
}

@media (max-width: 990px) and (min-width: 480px) {
    .panel-body > .form-group > div:nth-of-type(4), .panel-body > .form-group > div:nth-of-type(7) {
        clear: none;
    }

    .panel-body > .form-group > div:nth-of-type(3), .panel-body > .form-group > div:nth-of-type(5), .panel-body > .form-group > div:nth-of-type(7), .panel-body > .form-group > div:nth-of-type(9) {
        clear: left;
    }

    .col-xs-3, .col-xs-2 {
        min-width: 50%;
    }
}

@media (max-width: 480px) {
    .col-xs-3, .col-xs-2 {
        clear: both;
        min-width: 100%;
        margin: auto;
    }
}

.active a {
    background-color: #d9edf7;
}

#selectUsersDropdown, #selectAPDropdown, #selectCountryDropdown, #selectEstimate {
    margin-left: 83%;
}