.btn {
    padding: 9px 12px;
}

.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
    display: none;
}

.search {
    position: relative;
    left: 68%;
}

.labsearch {
    position: relative;
    left: 67%;
    top: 5px;
}

.fa-camera:before {
    position: relative;
    bottom: 0px;
}

[role='row'] .fa-camera:before {
    left: 0px !important;
}

#manager-table tr td:nth-child(8), tr td:nth-child(10), tr td:nth-child(11), tr td:nth-child(12), tr td:nth-child(13) {
    text-align: center;
}

#manager-table tr td:nth-child(2) {
    width: 18%;
}

#users-list-table tr td:nth-child(2) {
    width: 18%;
}

#users-list-table tr td:nth-child(1) {
    width: 8%;
}

#users-list-table img, #manager-table img {
    height: 38px;
}

.fa-2x {
    font-size: 2em;
    position: relative;
    center: align;
    left: -3px;
    align-items: center;
}

.dataTables_paginate a.paginate_button:not(.current) {
    background-color: white;
}

.fa-check {
    color: green;
    cursor: pointer;
}

.fa-times {
    color: red;
    cursor: pointer;
}

.fa-check:hover, .fa-times:hover {
    font-size: 25px;
    text-shadow: 1px 1px grey;
}

.popover {
    width: 208%;
    white-space: pre-wrap;
}
